# ignore all file in folder Source Code
Source Code/*
build/*
dist/*
logs/*

# ignore python virtual environment
venv/*
env/*
Lib/*
Scripts/*
pyvenv.cfg

# exclude by extension
*.pyc
*.pyo
*.spec
.micropico
*.lck

# ignore file start with ~, . or #
~*
