# ignore all file in folder Source Code
Source Code/*
build/*
dist/*
logs/*

# ignore python virtual environment
.venv/
venv/
env/*
Lib/*
Scripts/*
pyvenv.cfg
GaussView/

# exclude by extension
*.pyc
*.pyo
*.spec
.micropico
*.lck
*.log
*.com
*.mae
*.maegz
*.sdf
*.chk
*.cdxml

# ignore file start with ~, . or #
~*
